---
BasedOnStyle: LLVM
AlignAfterOpenBracket: true
#AlignArrayOfStructures: Left
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveBitFields: Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveMacros: Consecutive
AlignOperands: AlignAfterOperator
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLambdasOnASingleLine: false
# AlwaysBreakAfterReturnType: false
AlwaysBreakBeforeMultilineStrings: false
BinPackArguments: false
BinPackParameters: false
BitFieldColonSpacing: After
BraceWrapping:
  AfterEnum: true
  AfterStruct: true
  AfterCaseLabel: true
  AfterControlStatement: Always
  AfterFunction: true
  AfterNamespace: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeElse: true
  BeforeWhile: true
BreakBeforeBinaryOperators: All
BreakBeforeBraces: Allman
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterComma
ColumnLimit: 240
ContinuationIndentWidth: 2
DerivePointerAlignment: true
FixNamespaceComments: true
IncludeBlocks: Regroup
IndentPPDirectives: BeforeHash
IndentWidth: 4
# InsertTrailingCommas: true
Language: Cpp
MaxEmptyLinesToKeep: 2
# PackConstructorInitializers: CurrentLine
PointerAlignment: Left
# QualifierAlignment: Left
#ReferenceAlignment: Left
ReflowComments: true
SortIncludes: true
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAroundPointerQualifiers: Before
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeParens: Never
SpaceBeforeSquareBrackets: false
# SpaceInEmptyParenthesis: false
SpacesInAngles: false
# SpacesInCStyleCastParenthesis: false
SpacesInConditionalStatement: false
# SpacesInParenthesis: false
SpacesInSquareBrackets: false
Standard: Latest
TabWidth: 4
UseTab: false
